

<div id="issue-<%= @issue.id %>" class="post issue cf">

  <div class="post-body">
    <h1><%= @issue.title %></h1>
    <p><%= @issue.description %></p>
    <%= link_to "Edit", edit_issue_path(@issue) , :class => "btn btn-default"%>
    <%= link_to "Delete", issue_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
  </div>

<a href="/issues/<%= @issue.id %>/live" id="vote_now">Vote now!</a>
</div>
