<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syndicate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body data-env="<%= ENV['FIREBASE_URL'] %>" ng-app="syndicate">
    <%= render '/layouts/top' %>
    <%= render '/layouts/header' %>

    <div class="region hero" style="background-image: url(<%= asset_path '113h-size2.jpg' %>);">
      <div id="region-inner">

        <div id="hero-text">
            <h1>Angular</h1>
        </div>

        <div class="hero-button">
          <button class="signup google-oauth" style="background-image: url(<%= asset_path 'google-plus.png' %>);">Sign in with Google</button>
        </div>

      </div>
    </div>

    <div class="region hot-issues">
      <div class="region-inner">
        <div class="grid-container">

            <div class="view-container">
              <div ng-view class="view-frame animate-view"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
