<div id="<%= participant.id %>" class="participant <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">

  <h3 class="participant-username"><a href="#"><%= participant.first_name %></a><em>User ID: <%= participant.id %></em> </h3>

  <div class="participant-avatar">
    <% if current_user != nil && current_user.id == participant.id %>
      <img class="participant-image current" src="<%= participant.image_url %>" />
    <% elsif @representative_id == participant.id%>
      <img class="participant-image rep" src="<%= participant.image_url %>" />
    <% else %>
      <img class="participant-image" src="<%= participant.image_url %>" />
    <% end %>

    <div class="badge participant-vote-count <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">
      <%= participant.get_vote_power(@current_issue.id) %>
    </div>
  </div>

  <div class="constituents">
    <% participant_votes.descendants.each do |vote| %>

      <% constituent = User.find(vote.user_id) %>
      <div id="<%= constituent.id %>" class="participant <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">

        <h3 class="participant-username"><a href="#"><%= constituent.first_name %></a><em>User ID: <%= constituent.id %></em> </h3>

        <div class="participant-avatar">
          <% if current_user != nil && current_user.id == constituent.id %>
            <img class="participant-image current" src="<%= constituent.image_url %>" />
          <% elsif @representative_id == constituent.id%>
            <img class="participant-image rep" src="<%= constituent.image_url %>" />
          <% else %>
            <img class="participant-image" src="<%= constituent.image_url %>" />
          <% end %>

          <div class="badge participant-vote-count <%= constituent.get_vote_status(@current_issue.id) %> <%= constituent.get_delegation_status(@current_issue.id) %>">
            <%= constituent.get_vote_power(@current_issue.id) %>
          </div>
        </div>

        <div class="constituents">
        </div>

      </div>
    <% end %>
  </div>
</div>
