<div id="issues-dashboard">
  <div class="issues">
    <% @issues.each do |issue| %>
      <div id="issue-<%= issue.id %>" class="issue">
        <div class="issue-body">
          <div class="shadow-glass">

            <div class="issue-info">
              <div class="part-info">
                Participants: <span id="part-<%= issue.id %>"><%= issue.participant_count %></span>  |
              </div>

              <div class="vote-info">
                Total votes: <span id="vote-<%= issue.id %>"><%= issue.vote_count %></span>
              </div>

              <div class="little-donut">
                <canvas id="little-<%= issue.id %>"></canvas>
              </div>

              <script>
                newLittleDrawChart(<%= issue.yes_votes %>, <%= issue.no_votes %>, <%= issue.abstain_count %>, <%= issue.id %>);
              </script>
            </div>

          </div>

            <div class="issue-image">
              <a href="/issues/<%= issue.id %>">
                <%= image_tag(issue.image_url) %>
              </a>
            </div>
          <h2 class="issue-heading"><%= link_to issue.title, issue %></h2>
          <p><%= issue.description %></p>
        </div>
    </div>
    <% end %>
  </div>
</div>
