<div id="live-dashboard">

  <div id="issue-<%= @current_issue.id %>" class="dashboard <%= @current_issue.status %>">

  <%= javascript_tag do %>
    var finishTime = '<%= @finish_time %>'
  <% end %>


    <div class="leaderboard">
      <h1><%= @current_issue.title %></h1>
      <div class="victory">
        <h2>This issue is closed</h2>
      </div>
      <div class="clock"></div>

      <div id="yes-board">
        <h1>YES: <span id="yes-votes"><%= @current_issue.yes_votes %></span></h1>
        <h2> (<span id="yes-percentage"><%= @current_issue.yes_percentage %></span>%) </h2>

        <div class="vote-button">
          <button type="submit" class="vote-button-style" id="yes-button" value="YES" method="POST" action="/issues/<%= @current_issue.id %>/vote?value=yes">Vote YES
          </button>
        </div>
      </div>

      <div id="no-board">
        <h1>NO: <span id="no-votes"><%= @current_issue.no_votes %></span></h1>
        <h2> (<span id="no-percentage"><%= @current_issue.no_percentage %></span>%) </h2>

        <div class="vote-button">
          <button type="submit" class="vote-button-style" id="no-button" value="NO" method="POST" action="/issues/<%= @current_issue.id %>/vote?value=no">Vote NO
          </button>
        </div>
      </div>

      <div id="vs-board">
        <canvas id="percent-donut"></canvas>
      </div>

      <div class="count-board">
        <h3>Total participants: <span id="total-participants"><%= @current_issue.participant_count %></span></h3>
        <h3>Total votes: <span id="total-votes"><%= @current_issue.vote_count %></span></h3>
        <h3>Abstain: <span id="abstain"><%= @current_issue.abstain_count %></span></h3>
      </div>
    </div>


    <div class="participants" >

      <div class="zone-yes zone">
        <div class="zone-inner">
          <!-- Only Render Yes Votes -->
          <% @participants.each do |participant| %>
            <% participant_votes = participant.votes.find_by(issue_id: @current_issue.id) %>
            <% if participant.votes.find_by(issue_id: @current_issue.id).value == "yes" && participant_votes.root? == true %>

            <%= render partial: "issues/participants", locals: {participant: participant, participant_votes: participant_votes} %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="zone-no zone">
        <div class="zone-inner">
          <!-- Only Render No Votes -->
          <% @participants.each do |participant| %>
            <% participant_votes = participant.votes.find_by(issue_id: @current_issue.id) %>
            <% if participant.votes.find_by(issue_id: @current_issue.id).value == "no" && participant_votes.root? == true %>

            <%= render partial: "issues/participants", locals: {participant: participant, participant_votes: participant_votes} %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="zone-abstain">
        <div class="zone-inner">
        <!-- Only Render Abstain Votes -->
        <% @participants.each do |participant| %>
          <% participant_votes = participant.votes.find_by(issue_id: @current_issue.id) %>
          <% if participant.votes.find_by(issue_id: @current_issue.id).value == "abstain" && participant_votes.root? == true %>

          <%= render partial: "issues/participants", locals: {participant: participant, participant_votes: participant_votes} %>
          <% end %>
        <% end %>
        </div>
      </div>


    </div>
    <!-- end participants -->
  </div>
  <!-- end dashboard div -->

  <a href="/issues/<%= @current_issue.id %>/clear">Clear Issue</a>

</div>

<script>
  newDrawChart(<%= @current_issue.yes_votes %>, <%= @current_issue.no_votes %>, <%= @current_issue.abstain_count %>);
</script>


