<div class="grid-4" id="yes-board">

  <h1>
    YES: <%= @current_issue.yes_votes %>
  </h1>

  <h2> (<%= @current_issue.get_yes_percentage %>%) </h2>
</div>
<div class="grid-4 min-height-300" id="vs-board">
  <canvas id="percent-donut" width="300" height="300"></canvas>
</div>

<div class="grid-4" id="no-board">
  <h1> NO: <%= @current_issue.no_votes %></h1>
  <h2> (<%= @current_issue.get_no_percentage %>%) </h2>
</div>

<div id="<%= @current_issue.id %>" class="leaderboard grid-12">


  <div class="grid-4 vote-button">
    <button type="submit" id="yes-button" value="YES" method="POST" action="/issues/<%= @current_issue.id %>"><%= image_tag("thumbsup.png") %>
    </button>
  </div>

  <div class="grid-4 count-board">
    <h3>Total participants: <%= @current_issue.participant_count %></h3>
    <h3>Total votes: <%= @current_issue.vote_count %></h3>
    <h3>Abstain: <%= @current_issue.abstain_count %></h3>
  </div>

  <div class="grid-4 vote-button">
    <button type="submit" id="no-button" value="NO" method="POST" action="/issues/<%= @current_issue.id %>"><%= image_tag("thumbsdown.png") %>
    </button>
  </div>

</div>


<div class="participants">
<% @participants.each do |participant| %>
  <div id="<%= participant.id %>" class="participant <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">

    <h3 class="participant-username"><a href="#"><%= participant.username %></a><em>User ID: <%= participant.id %></em> </h3>


    <div class="avatar-holder">
      <img class="participant-image rep" src="<%= participant.image_url %>" />

      <div class="badge participant-vote-count <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">
        <%= participant.get_vote_power(@current_issue.id) %>
      </div>

    </div>

    <div class="constituents">
    </div>
  </div>
<% end %>
</div>


