<section id="live-dashboard">

<div class="grid-4" id="yes-board">

  <h1>
    YES: <span id="yes-votes"><%= @current_issue.yes_votes %></span>
  </h1>

  <h2> (<span id="yes-percentage"><%= @current_issue.yes_percentage %></span>%) </h2>
</div>
<div class="grid-4 min-height-300" id="vs-board">
  <canvas id="percent-donut" width="300" height="300"></canvas>
</div>

<div class="grid-4" id="no-board">
  <h1>
    NO: <span id="no-votes"><%= @current_issue.no_votes %></span>
  </h1>
  <h2> (<span id="no-percentage"><%= @current_issue.no_percentage %></span>%) </h2>
</div>

<div id="<%= @current_issue.id %>" class="leaderboard grid-12">


  <div class="grid-4 vote-button">
    <button type="submit" id="yes-button" value="YES" method="POST" action="/issues/<%= @current_issue.id %>/vote?value=yes"><%= image_tag("thumbsup.png") %>
    </button>
  </div>

  <div class="grid-4 count-board">
    <h3>Total participants: <%= @current_issue.participant_count %></h3>
    <h3>Total votes: <%= @current_issue.vote_count %></h3>
    <h3>Abstain: <%= @current_issue.abstain_count %></h3>

    <button class="hidden" type="submit" id="abstain-button" value="NO" method="POST" action="/issues/<%= @current_issue.id %>">Abstain
    </button>

  </div>

  <div class="grid-4 vote-button">
    <button type="submit" id="no-button" value="NO" method="POST" action="/issues/<%= @current_issue.id %>/vote?value=no"><%= image_tag("thumbsdown.png") %>
    </button>
  </div>

</div>


<div class="participants" >
<% @participants.each do |participant| %>
  <% participant_votes = participant.votes.find_by(issue_id: @current_issue.id) %>
  <% if participant_votes.root? == true %>

    <div id="<%= participant.id %>" class="participant <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">

      <h3 class="participant-username"><a href="#"><%= participant.username %></a><em>User ID: <%= participant.id %></em> </h3>

      <div class="participant-avatar">
      <% if @current_user.id == participant.id %>
        <img class="participant-image current" src="<%= participant.image_url %>" />
      <% elsif @representative_id == participant.id%>
        <img class="participant-image rep" src="<%= participant.image_url %>" />
      <% else %>
        <img class="participant-image" src="<%= participant.image_url %>" />
      <% end %>

        <div class="badge participant-vote-count <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">
          <%= participant.get_vote_power(@current_issue.id) %>
        </div>

      </div>

      <div class="constituents">
        <% participant_votes.descendants.each do |vote| %>

          <% constituent = User.find(vote.user_id) %>
          <div id="<%= constituent.id %>" class="participant <%= participant.get_vote_status(@current_issue.id) %> <%= participant.get_delegation_status(@current_issue.id) %>">

            <h3 class="participant-username"><a href="#"><%= constituent.username %></a><em>User ID: <%= constituent.id %></em> </h3>

            <div class="participant-avatar">
              <% if @current_user.id == constituent.id %>
                <img class="participant-image current" src="<%= constituent.image_url %>" />
              <% elsif @representative_id == constituent.id%>
                <img class="participant-image rep" src="<%= constituent.image_url %>" />
              <% else %>
                <img class="participant-image" src="<%= constituent.image_url %>" />
              <% end %>

              <div class="badge participant-vote-count <%= constituent.get_vote_status(@current_issue.id) %> <%= constituent.get_delegation_status(@current_issue.id) %>">
                <%= constituent.get_vote_power(@current_issue.id) %>
              </div>
            </div>

            <div class="constituents">
            </div>

          </div>
        <% end %>
      </div>
    </div>
    <% end %>
<% end %>
</div>

<a href="/issues/<%= @current_issue.id %>/clear">Clear Issue</a>

</section>

<script>
  newDrawChart(<%= @current_issue.yes_votes %>, <%= @current_issue.no_votes %>);
</script>


