
    <div class="region hero" style="background-image: url(<%= asset_path '113h-size2.jpg' %>);">
      <div id="region-inner">

        <!-- <div class="shadow-box"></div> -->
        <div id="hero-text">
          <!-- Who Will Build The Roads? -->
          <h1>Can we change the way we Vote?</h1>
          <p>To change our political habits we need to fundamentally change the way we vote. Technology has been transformative in so many areas of our lives, yet politics remain unchanged.</p>
          <p><strong>Syndicate</strong> is an experimental platform where voters use either direct or representative democracy to vote on individual issues.</p>

          <!-- Join the Liquid Democracy. -->
          <!-- Liquify your voting. -->
          <!-- Don't think twice about voting. -->
        </div>

        <div class="hero-button">
          <button class="signup google-oauth" style="background-image: url(<%= asset_path 'google-plus.png' %>);">Sign in with Google</button>
        </div>

      </div>
    </div>

    <div class="region hot-issues">
      <div id="title-thinger">
        Recent Issues
        <p>View recent issues and cast your vote</p>
      </div>
      <div class="region-inner">
        <div class="grid-container">
          <div class="issues">
            <% @issues.each do |issue| %>
              <div id="issue-<%= issue.id %>" class="issue">
                <div class="issue-body">

                  <div class="issue-image">

                    <div class="little-donut">
                      <canvas class="little-class" id="little-<%= issue.id %>"></canvas>
                    </div>

                    <div class="shadow-glass">

                      <div class="issue-info">


                        <div class="issue-time">
                          <%= issue.time_remaining %>
                        </div>

                        <script>
                          newLittleDrawChart(<%= issue.yes_votes %>, <%= issue.no_votes %>, <%= issue.abstain_count %>, <%= issue.id %>);
                        </script>
                      </div>
                    </div>

                    <a href="/issues/<%= issue.id %>/live">
                      <%= image_tag(issue.image_url) %>
                    </a>
                  </div>
                  <h2 class="issue-heading">
                    <a href="/issues/<%= issue.id %>/live">
                      <%= issue.title %>
                    </a>
                  </h2>
                  <p><%= issue.description %></p>
                        <div class="part-info">
                          Participants: <span id="part-<%= issue.id %>"><%= issue.participant_count %></span> |
                        </div>

                        <div class="vote-info">
                          Total votes: <span id="vote-<%= issue.id %>"><%= issue.vote_count %></span>
                        </div>
                </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

