<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syndicate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body data-env="<%= ENV['FIREBASE_URL'] %>">
    <%= render '/layouts/top' %>
    <%= render '/layouts/header' %>

    <div class="region hero" style="background-image: url(<%= asset_path '113h-size2.jpg' %>);">
      <div id="region-inner">

        <!-- <div class="shadow-box"></div> -->
        <div id="hero-text">
          <!-- Who Will Build The Roads? -->
          <h1>Can we change the way we Vote?</h1>
          <p>To change our political habits we need to fundamentally change the way we vote. Technology has been transformative in so many areas of our lives, yet politics remain unchanged.</p>
          <p><strong>Syndicate</strong> is an experimental platform where voters use either direct or representative democracy to vote on individual issues.</p>

          <!-- Join the Liquid Democracy. -->
          <!-- Liquify your voting. -->
          <!-- Don't think twice about voting. -->
        </div>

        <div class="hero-button">
          <button class="signup google-oauth" style="background-image: url(<%= asset_path 'google-plus.png' %>);">Sign in with Google</button>
        </div>

      </div>
    </div>

    <div class="region hot-issues">
      <div id="title-thinger">
        Recent Issues
        <p>View recent issues and cast your vote</p>
      </div>
      <div class="region-inner"
        <div class="grid-container">
          <div class="issues">
            <% @hot_issues.each do |issue| %>
              <div id="issue-<%= issue.id %>" class="hot-issue">
                <div class="issue-body">
                  <div class="issue-image">
                    <a href="/issues/<%= issue.id %>/live">
                      <%= image_tag(issue.image_url) %>
                    </a>
                  </div>
                  <h2 class="hot-issue-heading">
                    <a href="/issues/<%= issue.id %>/live">
                      <%= issue.title %>

                    </a>
                  </h2>
                  <p><%= issue.description %></p>
                <!--   <p><%= issue.description %></p> -->
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
