<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syndicate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body data-env="<%= ENV['FIREBASE_URL'] %>">
    <%= render '/layouts/top' %>
    <%= render '/layouts/header' %>

    <div class="region hero">
        <div class="banner">
          <%= image_tag("wood.jpg") %>
        </div>
        <div class="shadow-box"></div>
      <div id="region-inner">
        <div id="hero-text">
          Vote to make your world better.
          <!-- Join the Liquid Democracy. -->
          <!-- Liquify your voting. -->
          <!-- Don't think twice about voting. -->
        </div>
        <div class="hero-button">
          <button id="google-oauth" class="signup">Sign up!</button>
        </div>
      </div>
    </div>
    <div class="region hot-issues">
      <div id="title-thinger">
        Hot Issues
      </div>
      <div class="region-inner"
        <div class="grid-container">
          <div class="issues">
            <% @hot_issues.each do |issue| %>
              <div id="issue-<%= issue.id %>" class="hot-issue">
                <div class="issue-body">
                  <div class="issue-image">
                    <a href="/issues/<%= issue.id %>">
                      <%= image_tag(issue.image_url) %>
                    </a>
                  </div>
                  <h2 class="hot-issue-heading">
                    <%= link_to issue.title, issue %>
                  </h2>
                <!--   <p><%= issue.description %></p> -->
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
